{% extends "base.html" %}
{% block title %}Editar Tipo de Estado{%endblock %} 
{% block content %}

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3><i class="bi bi-pencil-square"></i>Editar Tipo de Estado</h3>
    <a
      href="{% url 'mantenimiento:tipo_estado_lista' %}"
      class="btn btn-secondary"
    >
      Cancelar
    </a>
  </div>
  <hr />

  {% if perms.mantenimiento.change_tipoestado %}
  <form method="post" class="row g-3 mt-2">
    {% csrf_token %}

    <div class="col-md-6">
      {{ form.nombre.label_tag }} {{ form.nombre }} {% if form.nombre.errors %}
      <div class="text-danger small">
        {{ form.nombre.errors|join:"<br />" }}
      </div>
      {% endif %}
    </div>

    <div class="col-md-6">
      {{ form.codigo.label_tag }} {{ form.codigo }} {% if form.codigo.errors %}
      <div class="text-danger small">
        {{ form.codigo.errors|join:"<br />" }}
      </div>
      {% endif %}
    </div>

    <div class="col-12">
      {{ form.descripcion.label_tag }} {{ form.descripcion }}
    </div>

    <div class="col-md-4">
      {{ form.categoria.label_tag }} {{ form.categoria }}
    </div>

    <div class="col-md-4">
      {{ form.impacto_disponibilidad.label_tag }} 
      {{ form.impacto_disponibilidad }}
    </div>

    <div class="col-md-4">{{ form.color.label_tag }} {{ form.color }}</div>

    <div class="col-md-12 mt-3">
      <div class="form-check">
        {{ form.activo }} {{ form.activo.label_tag }}
      </div>
    </div>

    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-success btn-lg">
        Guardar Cambios
      </button>
    </div>
  </form>
  {% else %}
  <div class="alert alert-danger">
    No tienes permisos para editar tipos de estado.
  </div>
  {% endif %}
</div>
{% endblock %}
